:host {
  .page {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgb(0, 132, 255),
      rgba(255, 255, 255, 0.911)
    );

    > .logo {
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    > .slogan {
      position: absolute;
      width: 100%;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      > h1 {
        color: white;
      }
    }
  }
}
