:host {
  .form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .input-form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgb(238, 238, 255);
    background-color: transparent;
    > input {
      padding: 10px;
      border-radius: 15px;
      border: 0;
      background-color: rgb(214, 214, 214);
      color: black;
    }

    > .eye {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-40%);
    }
  }

  .login-btn {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    > .login {
      width: 60%;
      color: black;
      background-color: rgb(255, 245, 108);
      padding: 10px;
      border-radius: 15px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .msg {
    cursor: pointer;
    color: rgb(134, 134, 134);
  }
}
