:host {
  .devices {
    display: flex;
    column-gap: 10px;
  }

  .no-devices {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    > .addBtn {
      position: absolute;
      transform: translateY(1000%);
      width: 60%;
      color: black;
      background-color: rgb(255, 245, 108);
      padding: 10px;
      border-radius: 15px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
