:host {
  .page {
    height: 100%;
    width: 100%;
  }
  .header {
    position: fixed;
    // height: 10%;
    top: 0px;
    width: 100%;
    // right: 5%;
  }

  .content {
    margin-top: 20%;
    height: 100%;
  }

  .footer {
    position: fixed;
    bottom: 0;
  }
}
