<div class="card">
  <div class="top">
    <div class="icon">
      <img src="" alt="" />
    </div>
    <div class="status-action">
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      <small class="text">{{ device.name }}</small>
      <small class="text">{{ device.status ? "ON" : "OFF" }}</small>
    </div>
    <div class="right"></div>
  </div>
</div>
