:host {
  .header {
    color: black;
    display: flex;
    justify-content: center;
    padding: 8px 10px 0 10px;
  }

  .title {
    color: black;
  }

  form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  .input-form {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid rgb(238, 238, 255);
    background-color: transparent;
    > input {
      padding: 10px;
      border-radius: 15px;
      border: 0;
      background-color: rgb(214, 214, 214);
      color: black;
    }

    > .eye {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-40%);
    }
  }

  .connect-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    > .connect {
      width: 60%;
      color: black;
      background-color: rgb(255, 245, 108);
      padding: 10px;
      border-radius: 15px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .connect:disabled {
    background-color: rgb(252, 248, 191) !important;
  }

  .error {
    color: red;
  }
}
