:host {
  .add-device {
    display: flex;
    justify-content: end;
    padding: 25px 15px 0px 0px;

    > button {
      background-color: rgb(145, 193, 248);
      border-radius: 10px;
      width: 40px;
      height: 40px;
      > * {
        color: rgb(255, 255, 255);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 15px 20px 15px;
    border-radius: 50px 50px 0 0;
    > .tabs-zone {
      position: relative;
      > .tabs {
        display: flex;
        column-gap: 10px;
        overflow-x: scroll;
        > .tab {
          display: flex;
          flex-direction: column;
          > hr.tab-active {
            background-color: black;
            width: 100%;
          }
          > p {
            margin: 0;
            color: #eaebca;
            font-size: medium;
          }
          > p.tab-active {
            color: rgb(37, 37, 37);
            border: 0;
          }
        }

        > .more {
          justify-self: end;
        }
      }
    }
    > .tab-content {
      padding: 20px 5px 20px 5px;
    }
  }

  // .indicator {
  //   position: absolute;
  //   bottom: 0;
  //   height: 2px;
  //   background-color: black;
  //   width: 5px; /* Must match the tab min-width */

  //   /* The Animation Logic */
  //   transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  //   /* Calculate movement: (width + gap) * index */
  //   transform: translateX(calc((5px + 10px) * var(--active-index, 0)));
  // }

  .tabs-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content.show {
    display: block;
    border-radius: 10px;
  }

  .dropdown-content.hide {
    display: none;
  }
}
