:host {
  .add-device {
    display: flex;
    justify-content: end;
    padding: 25px 15px 0px 0px;

    > button {
      background-color: rgb(95, 214, 250);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      > * {
        // padding: 0px;
        color: rgb(255, 255, 255);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    background-color: rgb(253, 245, 229);
    height: 100%;
    > .tabs {
      padding: 10px 15px 10px 15px;
      display: flex;
      column-gap: 10px;
      overflow-x: scroll;
      > p {
        margin: 0;
        color: grey;
        font-size: medium;
      }

      .tab-active {
        color: rgb(37, 37, 37);
      }
    }
    > .tab-content {
      padding: 0 20px 0 20px;
    }
  }

  h1 {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
