:host {
  .add-device {
    display: flex;
    justify-content: end;
    padding: 25px 15px 0px 0px;

    > button {
      background-color: rgb(145, 193, 248);
      border-radius: 10px;
      width: 40px;
      height: 40px;
      > * {
        color: rgb(255, 255, 255);
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 245, 229);
    height: 100%;
    padding: 20px 15px 20px 15px;
    > .tabs-zone {
      > .tabs {
        display: flex;
        column-gap: 10px;
        overflow-x: scroll;
        > p {
          margin: 0;
          color: grey;
          font-size: medium;
        }

        > .tab-active {
          color: rgb(37, 37, 37);
        }

        > .more {
          justify-self: end;
        }
      }
    }
    > .tab-content {
      padding: 20px 5px 20px 5px;
    }
  }

  .tabs-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content.show {
    display: block;
    border-radius: 10px;
  }

  .dropdown-content.hide {
    display: none;
  }
}
