:host {
  .header {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    > .back-btn {
    }

    > .title {
      position: relative;
      min-width: fit-content;
    }
  }

  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vh;
    padding-bottom: 20px;
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(145, 193, 248);
      column-gap: 10px;
      font-size: medium;
      width: 200px;
      padding: 5px 30px 5px 30px;
      border-radius: 20px;
    }
  }

  .rooms {
    overflow-y: scroll;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;

    > .room {
      background-color: rgb(252, 247, 240) !important;
      padding: 2px 10px 2px 10px;
    }
  }
}
