:host {
  .page {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to bottom,
      rgb(0, 132, 255),
      rgba(255, 255, 255, 0.911)
    );
  }
}
